* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: #141414;
}
#head {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #181818;
  width: 100%;
  height: 80px;

  font-family: "Rubik Moonrocks", cursive;
  // font-family: 'Monoton', cursive;
  font-size: large;

  h1 {
    margin-left: 20px;
    color: #4490ff;
  }
}
#note {
  display: flex;
  justify-content: center;
  height: 180px;
}
#card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #1b1b1b;
  width: 300px;
  padding: 2%;
  margin-top: 20px;

  border-radius: 10px;

  font-family: 'Permanent Marker', cursive;

  font-size: large;

  h1 {
    color: #cfcfcf;
    // color: #4490ff;
  }

  p {
    color: #bebebe;
  }

  button {
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #bebebe;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
  }
  button:hover {
    background-color: #4490ff;
  }
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 20px;
  #box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40%;
    #title {
      background-color: #bebebe;
      border-radius: 5px 5px 0px 0px;
      border: none;
      height: 30px;
      width: 300px;
      outline: none;
      text-indent: 5px;
    }
    #description {
      background-color: #bebebe;
      border-radius: 0px 0px 5px 5px;
      border: none;
      margin-top: 5px;
      width: 300px;
      height: 80px;
      outline: none;
      text-indent: 5px;
    }
    #add {
      margin-top: 20px;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      border: none;
      background-color: #bebebe;
    }
    #add:hover {
      background-color: #4490ff;
    }

    #trial {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      margin-top: 60px;
      width: 100vw;
      margin-bottom: 30px;
      column-gap: 20px;
    }
  }
}
#foot {
  display: flex;
  background-color: #181818;
  margin-top: auto;
  // padding: 2em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px; 
  label{
    color: #bebebe
  }
}
